.vertical {
  position: absolute;
  top: -10000px;
  bottom: -10000px;
  width: 1px;
  background: var(--color-accent);
  opacity: 0.4;
  pointer-events: none;
  z-index: 9998;
}

.horizontal {
  position: absolute;
  left: -10000px;
  right: -10000px;
  height: 1px;
  background: var(--color-accent);
  opacity: 0.4;
  pointer-events: none;
  z-index: 9998;
}
